.recipeDetailCard {
    width:  98%;
    margin: 1% 1%;
}

.recipeDetailImage {
    width: 300px;
}

.favButton {
    background: none;
    text-decoration: none;
    border: none;
}


 .modal-content {
    background-color: #aaaaaa !important;
    border-color: #5d2906 !important;
}
