html {
    height: 100% !important;
    background: url("../../assets/img/FarmhouseKitchen.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }   
  
  body {
  background-color: rgba(0,0,0, 0.4) !important; /* Black w/opacity/see-through */
  color: white !important;
  /* font-weight: bold !important; */
  font-family: 'Domine', serif !important;
  border: 3px solid #f1f1f1 !important;
  padding: 0 !important;
  min-height: 100% !important;
  width: 90vw !important;
  margin-left: auto !important;
  margin-right: auto !important;
  overflow: scroll !important;
  }


  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  